{% extends 'AseagleBundle::layout.html.twig' %}
{% block title %}The Leading B2B Market Place for Agriculture Products{% endblock %}
{% block local_css %}
    <link rel="stylesheet" href="{{ asset('bundles/libs/vendor/bootplus/css/bootplus.css') }}"
          xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" href="{{ asset('bundles/libs/css/portal.css') }}" />
    <style>
        .short-text {
            width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: uppercase;
        }
    </style>
{% endblock %}

{% block content %}
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="pav-slideshow" class="pav-slideshow">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="yamm">
                        <ul class="left-bar" style="display: block; border: 1px solid rgba(0, 0, 0, 0.15);border-radius: 4px; width: 90%;padding: 5px 0;">
                            {% for cat in cats %}
                                {% if loop.index <= 14 %}
                                    <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ cat.name|title }}</a>
                                        <ul class="dropdown-menu">
                                            <div class="yamm-content">
                                                <div class="row">
                                                    {% for subcat in cat.children() %}
                                                        {% if loop.index%10 == 1 %}
                                                            <ul class="col-sm-2 list-unstyled">
                                                            <li><a href="{{path('main',{'category_id': subcat.id})}}">{{ subcat.name|title }}</a></li>
                                                            <!--
                                                                <li>
                                                                    <p>
                                                                        <strong>Section Title</strong>
                                                                    </p>
                                                                </li>
                                                                -->
                                                        {% elseif loop.index%10 == 0 or loop.index == cat.children()|length%}
                                                            <li><a href="{{path('main',{'category_id': subcat.id})}}">{{ subcat.name|title }}</a></li>
                                                            </ul>
                                                        {% else%}
                                                            <li><a href="{{path('main',{'category_id': subcat.id})}}">{{ subcat.name|title }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                {% elseif loop.index == 15  %}
                                    <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">More Categories</a>
                                        <ul class="dropdown-menu">
                                            <div class="yamm-content">
                                                <div class="row">
                                                    <ul class="col-sm-2 list-unstyled">
                                                        <li>
                                                            <p>
                                                                <strong>{{ cat.name|title }}</strong>
                                                            </p>
                                                        </li>
                                                    {% for subcat in cat.children() %}
                                                        <li><a href="{{path('main',{'category_id': subcat.id})}}">{{ subcat.name|title }}</a></li>
                                                    {% endfor %}
                                {% elseif loop.index == cats|length  %}
                                                        <li>
                                                            <p>
                                                                <strong>{{ cat.name|title }}</strong>
                                                            </p>
                                                        </li>
                                                        {% for subcat in cat.children() %}
                                                            <li><a href="{{path('main',{'category_id': subcat.id})}}">{{ subcat.name|title }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                {% else %}
                                        <li>
                                            <p>
                                                <strong>{{ cat.name|title }}</strong>
                                            </p>
                                        </li>
                                        {% for subcat in cat.children() %}
                                            <li><a href="{{path('main',{'category_id': subcat.id})}}">{{ subcat.name|title }}</a></li>
                                        {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <div id="pavcontentslider2" class="carousel slide pavcontentslider">
                        <div class="carousel-inner">
                            {% for banner_product in banner_products %}
                                <div class="item {% if loop.index == 1 %}active{% endif %}">
                                    <a href="{{ path('show_product',{id: banner_product.id}) }}"><img style="height: 380px" width="873" height="380" src="{{ banner_product.img }}" alt="{{ banner_product.n }}"></a>
                                    <div class="pav-caption slideExpandUp big-caption pink" style="top:85px;left:50px">
                                        {{ banner_product.n }}
                                    </div>
                                    <div class="pav-caption pullUp detail" style="top:238px;left:50px">
                                        <a href="{{ path('show_product',{id: banner_product.id}) }}" class="button">Detail<i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                    <div class="pav-caption expandUp desc" style="top:130px;left:50px">
                                        {{ banner_product.bd | raw }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- carousel-inner -->
                        <a class="carousel-control left " href="#pavcontentslider2" data-slide="prev"><</a>
                        <a class="carousel-control right" href="#pavcontentslider2" data-slide="next">></a>
                        <ol class="carousel-indicators">
                            <li data-target="#pavcontentslider2" data-slide-to="0" class=""></li>
                            <li data-target="#pavcontentslider2" data-slide-to="1" class=""></li>
                            <li data-target="#pavcontentslider2" data-slide-to="2" class="active"></li>
                        </ol>
                    </div>
                    <!-- pavcontentslider2 -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="box pav-custom  ">
                        <div class="box-content">
                            <p style="margin-bottom:20px"><img alt="" src=""></p>
                            <p style=""><img alt="" src=""></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="pav-showcase" id="pavo-showcase" style="padding-top:10px">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="box-product vertical box productcarousel">
    <div class="box-heading"><span>Featured</span></div>
    <div class="box-content">
        <div class="box-products slide" id="productcarousel815422">
            <div class="carousel-controls">
                <a class="carousel-control left" href="#productcarousel815422" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#productcarousel815422" data-slide="next">›</a>
            </div>
            <div class="carousel-inner ">
            {% for two_banner_products in banner_products|batch(2) %}
                <div class="item {% if loop.index == 1 %}active{% endif %}">
                    {% for banner_product in two_banner_products %}
                    <div class="row box-product">
                        <div class="col-lg-12 col-sm-12 col-xs-12 ">
                            <div class="product-block">
                                <div class="image ">
                                    <div class="image_container">
                                        <a href="{{ path('show_product',{id: banner_product.id}) }}" class="img front"><img width="263" style="height: 197px" src="{{ banner_product.img }}" title="{{ banner_product.n }}" alt="{{ banner_product.n }}" class="img-responsive"></a>
                                        <!-- Show Swap -->
                                    </div>
                                    <a class="pav-colorbox cboxElement" href="index.php?route=themecontrol/product&amp;product_id=43"><span class="fa fa-eye"></span>Quick View</a>
                                    <div class="img-overlay"></div>
                                </div>
                                <div class="product-meta">
                                    <div class="name"><a href="{{ path('show_product',{id: banner_product.id}) }}">{{ banner_product.n }}</a></div>
                                    <!--div class="rating"><img src="http://demopavothemes.com/pav_floral/catalog/view/theme/pav_floral/image/stars-5.png" alt="text_reviews"></div-->
                                    <div class="description">
                                        {{ banner_product.bd | raw }}
                                    </div>
                                    <div class="price">
                                        {{ banner_product.pr }}
                                    </div>
                                    <div class="cart">
                                        <button class="button" onclick="addToCart('43');">
                                            <span class="fa fa-shopping-cart icon"></span>
                                            <span>Add to Cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
            <!-- carousel-inner -->
        </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="box-product pink horizontal box productcarousel">
            <div class="box-heading"><span>Most Viewed</span></div>
            <div class="box-content">
                <div class="box-products slide" id="productcarousel8be500">
                    <div class="carousel-controls">
                        <a class="carousel-control left" href="#productcarousel8be500" data-slide="prev">‹</a>
                        <a class="carousel-control right" href="#productcarousel8be500" data-slide="next">›</a>
                    </div>
                    <div class="carousel-inner ">
                        {% for two_banner_products in banner_products|batch(2) %}
                        <div class="item {% if loop.index == 1 %}active{% endif %}">

                            <div class="row box-product">
                                {% for banner_product in two_banner_products %}
                                <div class="col-lg-6 col-sm-6 col-xs-12 ">
                                    <div class="product-block">
                                        <div class="image ">
                                            <!--span class="product-label-special label">Sale</span-->
                                            <div class="image_container">
                                                <a href="{{ path('show_product',{id: banner_product.id}) }}" class="img front"><img width="263" style="height: 197px" src="{{ banner_product.img }}" title="{{ banner_product.n }}" alt="{{ banner_product.n }}" class="img-responsive"></a>
                                                <!-- Show Swap -->
                                            </div>
                                            <a class="pav-colorbox cboxElement" href="index.php?route=themecontrol/product&amp;product_id=42"><span class="fa fa-eye"></span>Quick View</a>
                                            <div class="img-overlay"></div>
                                        </div>
                                        <div class="product-meta">
                                            <div class="name"><a href="{{ path('show_product',{id: banner_product.id}) }}">{{ banner_product.n }}</a></div>
                                            <!--div class="rating"><img src="http://demopavothemes.com/pav_floral/catalog/view/theme/pav_floral/image/stars-4.png" alt="text_reviews"></div-->
                                            <div class="description">
                                                {{ banner_product.bd | raw }}
                                            </div>
                                            <div class="price">
                                                <span class="price-old">{{ banner_product.pr }}</span> <span class="price-new">{{ banner_product.pr }}</span>
                                            </div>
                                            <div class="cart"><button class="button" onclick="">
                                                    <span class="fa fa-shopping-cart icon"></span>
                                                    <span>Similar Products</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- row box-product -->
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </section>

    <section class="pav-showcase" id="pavo-showcase" style="padding-top:10px">
    <div class="container">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="box-product pink horizontal box productcarousel">
    <div class="box-heading"><span>Latest Products</span></div>
    <div class="box-content">
    <div class="box-products slide" id="productcarousel8be501">
    <div class="carousel-controls">
        <a class="carousel-control left" href="#productcarousel8be500" data-slide="prev">‹</a>
        <a class="carousel-control right" href="#productcarousel8be500" data-slide="next">›</a>
    </div>
    <div class="carousel-inner ">
    <div class="item">
        <div class="row box-product">
            {% for banner_product in banner_products %}
            <div class="col-lg-3 col-sm-3 col-xs-6 ">
                <div class="product-block">
                    <div class="image ">
                        <!--span class="product-label-special label">Sale</span-->
                        <div class="image_container">
                            <a href="{{ path('show_product',{id: banner_product.id}) }}" class="img front"><img width="263" style="height: 197px" src="{{ banner_product.img }}" title="{{ banner_product.n }}" alt="{{ banner_product.n }}" class="img-responsive"></a>
                            <!-- Show Swap -->
                        </div>
                        <a class="pav-colorbox cboxElement" href="index.php?route=themecontrol/product&amp;product_id=42"><span class="fa fa-eye"></span>Quick View</a>
                        <div class="img-overlay"></div>
                    </div>
                    <div class="product-meta">
                        <div class="name"><a href="{{ path('show_product',{id: banner_product.id}) }}">{{ banner_product.n }}</a></div>
                        <!--div class="rating"><img src="http://demopavothemes.com/pav_floral/catalog/view/theme/pav_floral/image/stars-4.png" alt="text_reviews"></div-->
                        <div class="description">
                            {{ banner_product.bd | raw }}
                        </div>
                        <div class="price">
                            <span class="price-old">{{ banner_product.pr }}</span> <span class="price-new">{{ banner_product.pr }}</span>
                        </div>
                        <div class="cart"><button class="button" onclick="">
                                <span class="fa fa-shopping-cart icon"></span>
                                <span>Similar Products</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- row box-product -->
    </div>
    <!-- item -->
    <div class="item active left">
        <div class="row box-product">
            {% for banner_product in banner_products %}
                <div class="col-lg-3 col-sm-3 col-xs-6 ">
                    <div class="product-block">
                        <div class="image ">
                            <!--span class="product-label-special label">Sale</span-->
                            <div class="image_container">
                                <a href="{{ path('show_product',{id: banner_product.id}) }}" class="img front"><img width="263" style="height: 197px" src="{{ banner_product.img }}" title="{{ banner_product.n }}" alt="{{ banner_product.n }}" class="img-responsive"></a>
                                <!-- Show Swap -->
                            </div>
                            <a class="pav-colorbox cboxElement" href="index.php?route=themecontrol/product&amp;product_id=42"><span class="fa fa-eye"></span>Quick View</a>
                            <div class="img-overlay"></div>
                        </div>
                        <div class="product-meta">
                            <div class="name"><a href="{{ path('show_product',{id: banner_product.id}) }}">{{ banner_product.n }}</a></div>
                            <!--div class="rating"><img src="http://demopavothemes.com/pav_floral/catalog/view/theme/pav_floral/image/stars-4.png" alt="text_reviews"></div-->
                            <div class="description">
                                {{ banner_product.bd | raw }}
                            </div>
                            <div class="price">
                                <span class="price-old">{{ banner_product.pr }}</span> <span class="price-new">{{ banner_product.pr }}</span>
                            </div>
                            <div class="cart"><button class="button" onclick="">
                                    <span class="fa fa-shopping-cart icon"></span>
                                    <span>Similar Products</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- row box-product -->
    </div>
    <!-- item -->
    <div class="item next left">
        <div class="row box-product">
            {% for banner_product in banner_products %}
                <div class="col-lg-3 col-sm-3 col-xs-6 ">
                    <div class="product-block">
                        <div class="image ">
                            <!--span class="product-label-special label">Sale</span-->
                            <div class="image_container">
                                <a href="{{ path('show_product',{id: banner_product.id}) }}" class="img front"><img width="263" style="height: 197px" src="{{ banner_product.img }}" title="{{ banner_product.n }}" alt="{{ banner_product.n }}" class="img-responsive"></a>
                                <!-- Show Swap -->
                            </div>
                            <a class="pav-colorbox cboxElement" href="index.php?route=themecontrol/product&amp;product_id=42"><span class="fa fa-eye"></span>Quick View</a>
                            <div class="img-overlay"></div>
                        </div>
                        <div class="product-meta">
                            <div class="name"><a href="{{ path('show_product',{id: banner_product.id}) }}">{{ banner_product.n }}</a></div>
                            <!--div class="rating"><img src="http://demopavothemes.com/pav_floral/catalog/view/theme/pav_floral/image/stars-4.png" alt="text_reviews"></div-->
                            <div class="description">
                                {{ banner_product.bd | raw }}
                            </div>
                            <div class="price">
                                <span class="price-old">{{ banner_product.pr }}</span> <span class="price-new">{{ banner_product.pr }}</span>
                            </div>
                            <div class="cart"><button class="button">
                                    <span class="fa fa-shopping-cart icon"></span>
                                    <span>Similar Product</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- row box-product -->
    </div>
    <!-- item -->
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>

    <div class="container">
    <div class="row">
    <div id="sidebar-main" class="col-md-12">
    <div id="content">
    <div class="nopadding">
        <div class="box-content">
            <div class="clearfix ">
                <div class="box pts-container ">
                    <div class="pts-inner">
                        <div class="row row-level-1">
                            <div class="row-inner  clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-inner">
                                        <div class="banner-wrapper">
                                            <a href="#"><img src="http://demopavothemes.com/pav_floral//image/catalog/demo/adv.jpg" alt="" class="img-responsive"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-product yellow horizontal box productcarousel" id="module406272650">
    <div class="box-heading"><span>Latest of Agriculture</span></div>
    <div class="box-content">
    <div class="box-products slide" id="productcarousel406272650">
    <!-- 						<div class="box-description"><p><br></p></div>
       -->
    <div class="carousel-controls">
        <a class="carousel-control left center" href="#productcarousel406272650" data-slide="prev">
            ‹
        </a>
        <a class="carousel-control right center" href="#productcarousel406272650" data-slide="next">
            ›
        </a>
    </div>
    <div class="carousel-inner product-grid">
    <div class="item active products-block">
        <div class="row box-product last">
            {% for banner_product in banner_products %}
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
                <div class="product-block">
                    <div class="image">
                        <!--span class="product-label-special label">Sale</span-->
                        <a href="http://demopavothemes.com/pav_floral/image/catalog/demo/product-10.jpg" class="info-view colorbox product-zoom hidden-sm hidden-xs cboxElement" title="T-Shirt"><span class="fa fa-search-plus"></span></a>
                        <a class="img" href="{{ path('show_product',{id: banner_product.id}) }}"><img width="263" style="height: 197px" src="{{ banner_product.img }}" title="{{ banner_product.n }}" alt="{{ banner_product.n }}" class="img-responsive"></a>
                        <div class="quickview hidden-sm hidden-xs">
                            <a class="iframe-link pav-colorbox" href="http://demopavothemes.com/pav_floral/index.php?route=themecontrol/product&amp;product_id=48" title="Quick View"><span class="fa fa-eye"></span>Quick View</a>
                        </div>
                        <div class="img-overlay"></div>
                    </div>
                    <div class="product-meta">
                        <div class="name"><a href="{{ path('show_product',{id: banner_product.id}) }}">{{ banner_product.n }}</a></div>
                        <div class="rating">
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                        </div>
                        <div class="description">{{ banner_product.bd | raw }}</div>
                        <div class="group-item">
                            <div class="price" itemtype="http://schema.org/Offer" itemscope="">
                                <span class="price-old">{{ banner_product.pr }}</span>
                                <span class="price-new">{{ banner_product.pr }}</span>
                                <meta content="{{ banner_product.pr }}" itemprop="price">
                                <meta content="" itemprop="priceCurrency">
                            </div>
                            <div class="cart">
                                <button class="button" type="button" onclick="cart.addcart('48');">
                                    <span class="fa fa-shopping-cart icon"></span>
                                    <span>Add to Cart</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="wishlist-compare">
                        <a class="wishlist" onclick="wishlist.addwishlist('48');" title="" data-placement="top" data-toggle="tooltip" data-original-title="Add to Wish List">Add to Wish List	  </a>
                        <a class="compare" onclick="compare.addcompare('48');" title="" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare">Add to Compare	  </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="item  products-block">
        <div class="row box-product last">
            {% for banner_product in banner_products %}
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
                    <div class="product-block">
                        <div class="image">
                            <!--span class="product-label-special label">Sale</span-->
                            <a href="http://demopavothemes.com/pav_floral/image/catalog/demo/product-10.jpg" class="info-view colorbox product-zoom hidden-sm hidden-xs cboxElement" title="T-Shirt"><span class="fa fa-search-plus"></span></a>
                            <a class="img" href="{{ path('show_product',{id: banner_product.id}) }}"><img width="263" style="height: 197px" src="{{ banner_product.img }}" title="{{ banner_product.n }}" alt="{{ banner_product.n }}" class="img-responsive"></a>
                            <div class="quickview hidden-sm hidden-xs">
                                <a class="iframe-link pav-colorbox" href="http://demopavothemes.com/pav_floral/index.php?route=themecontrol/product&amp;product_id=48" title="Quick View"><span class="fa fa-eye"></span>Quick View</a>
                            </div>
                            <div class="img-overlay"></div>
                        </div>
                        <div class="product-meta">
                            <div class="name"><a href="{{ path('show_product',{id: banner_product.id}) }}">{{ banner_product.n }}</a></div>
                            <!--div class="rating">
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                            </div-->
                            <div class="description">{{ banner_product.bd | raw }}</div>
                            <div class="group-item">
                                <div class="price" itemtype="http://schema.org/Offer" itemscope="">
                                    <span class="price-old">{{ banner_product.pr }}</span>
                                    <span class="price-new">{{ banner_product.pr }}</span>
                                    <meta content="{{ banner_product.pr }}" itemprop="price">
                                    <meta content="" itemprop="priceCurrency">
                                </div>
                                <div class="cart">
                                    <button class="button" type="button" onclick="cart.addcart('48');">
                                        <span class="fa fa-shopping-cart icon"></span>
                                        <span>Add to Cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="wishlist-compare">
                            <a class="wishlist" onclick="wishlist.addwishlist('48');" title="" data-placement="top" data-toggle="tooltip" data-original-title="Add to Wish List">Add to Wish List	  </a>
                            <a class="compare" onclick="compare.addcompare('48');" title="" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare">Add to Compare	  </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <script type="text/javascript"><!--
        $('#productcarousel406272650').carousel({interval:false,auto:false,pause:'hover'});
        --></script>
    </div>
    </div>
    </div>
    </div>
    <div class="mass-bottom " id="pavo-mass-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                    <div id="pavtestimonial224067734" class="carousel slide pavtestimonial">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="testimonial-item">
                                    <div class="testimonial">
                                        <span class="fa fa-quote-left icon"></span>
                                        <div>
                                            <p>Duis sed odio sit amet nibh vulputa cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat</p>
                                        </div>
                                    </div>
                                    <div class="t-avatar"><img alt="Jhone
                           Sup..." src="http://demopavothemes.com/pav_floral/image/cache/catalog/demo/testimonial1-108x108.jpg" class="img-circle"></div>
                                    <div class="profile">
                                        <div>
                                            <h3>Jhone</h3>
                                            <p>Suppor Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-item">
                                    <div class="testimonial">
                                        <span class="fa fa-quote-left icon"></span>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                                        </div>
                                    </div>
                                    <div class="t-avatar"><img alt="Pitter
                           Su..." src="http://demopavothemes.com/pav_floral/image/cache/catalog/demo/testimonial2-108x108.jpg" class="img-circle"></div>
                                    <div class="profile">
                                        <div>
                                            <h3>Pitter</h3>
                                            <p>Suppor Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control left" href="#pavtestimonial224067734" data-slide="prev">‹</a>
                        <a class="carousel-control right" href="#pavtestimonial224067734" data-slide="next">›</a>
                    </div>
                    <script type="text/javascript">
                        <!--
                        $('#pavtestimonial224067734').carousel({interval:8000,auto:true,pause:'hover'});
                        -->
                    </script>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 ">
                    <div class="box pav-block bloglatest">
                        <div class="box-heading"><span>Featured Seller</span></div>
                        <div class="pavblog-latest clearfix box-content">
                            <div class="row">

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="blog-item">
                                        <div class="blog-body clearfix">
                                            <div class="image clearfix">
                                                <img src="http://demopavothemes.com/pav_floral/image/cache/catalog/demo/pavblog/blog_3-300x160.jpg" title="Donec tellus Nulla lorem Nullam elit id ut" alt="Donec tellus Nulla lorem Nullam elit id ut" class="img-responsive">
                                            </div>
                                            <div class="group-blog">
                                                <div class="blog-title">
                                                    <a href="http://demopavothemes.com/pav_floral/index.php?route=pavblog/blog&amp;id=11" title="Donec tellus Nulla lorem Nullam elit id ut">Donec tellus Nulla lorem Nullam elit id ut</a>
                                                </div>
                                                <div class="description">									Donec tellus Nulla lorem Nullam elit id ut elit feugiat lacus. Congue ...								</div>
                                                <p class="created">
                                                    <span>2013-03-11</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="blog-item">
                                        <div class="blog-body clearfix">
                                            <div class="image clearfix">
                                                <img src="http://demopavothemes.com/pav_floral/image/cache/catalog/demo/pavblog/blog_2-300x160.jpg" title="Neque porro quisquam est, qui dolorem ipsum" alt="Neque porro quisquam est, qui dolorem ipsum" class="img-responsive">
                                            </div>
                                            <div class="group-blog">
                                                <div class="blog-title">
                                                    <a href="http://demopavothemes.com/pav_floral/index.php?route=pavblog/blog&amp;id=10" title="Neque porro quisquam est, qui dolorem ipsum">Neque porro quisquam est, qui dolorem ipsum</a>
                                                </div>
                                                <div class="description">									"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa...								</div>
                                                <p class="created">
                                                    <span>2013-03-09</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="blog-item">
                                        <div class="blog-body clearfix">
                                            <div class="image clearfix">
                                                <img src="http://demopavothemes.com/pav_floral/image/cache/catalog/demo/pavblog/blog_3-300x160.jpg" title="Commodo laoreet semper tincidunt lorem " alt="Commodo laoreet semper tincidunt lorem " class="img-responsive">
                                            </div>
                                            <div class="group-blog">
                                                <div class="blog-title">
                                                    <a href="http://demopavothemes.com/pav_floral/index.php?route=pavblog/blog&amp;id=9" title="Commodo laoreet semper tincidunt lorem ">Commodo laoreet semper tincidunt lorem </a>
                                                </div>
                                                <div class="description">									Commodo laoreet semper tincidunt lorem Vestibulum nunc at In Curabitur...								</div>
                                                <p class="created">
                                                    <span>2013-03-09</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <!-- finish body-->
{% endblock %}

{% block local_footer_libs %}
    <script src="{{ asset('bundles/libs/vendor/colorbox/jquery.colorbox-min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.colorbox').colorbox({
                overlayClose: true,
                opacity: 0.5,
                rel: false,
                onLoad:function(){
                    $("#cboxNext").remove(0);
                    $("#cboxPrevious").remove(0);
                    $("#cboxCurrent").remove(0);
                }
            });
            $('.pav-colorbox').colorbox({
                width: '800px',
                height: '550px',
                overlayClose: true,
                opacity: 0.5,
                iframe: true
            });
        });
    </script>

    <script type="text/javascript">
        $('#productcarousel815422').carousel({interval:15000,auto:true,pause:'hover'});
    </script>
    <script type="text/javascript">
        $('#productcarousel8be500').carousel({interval:15000,auto:true,pause:'hover'});
    </script>
    <script type="text/javascript">
        $('#pavcontentslider2').carousel({interval:8000});
    </script>
{% endblock %}


