{% extends 'AseagleBundle::layout.html.twig' %}
    {% block local_css %}
        <link rel="stylesheet" href="{{ asset('bundles/libs/css/seller.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/libs/css/main.css') }}" />
    {% endblock %}

    {% block content %}
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="bs-docs-header" id="content" tabindex="-1">
            <div class="container">

                <div id="carbonads-container">
                    <div class="carbonad">
				<span class="carbonad-image">
				<a href="{{ path('show_seller', {'id': company_profile.getId()}) }}" target="_blank"><img width="130" height="100" border="0" src="{{ image_helper.generate_one_large_image_url(company_profile.picture) }}" class="carbonad-image carbonad-img" style="max-width:130px;"></a>
				</span>
                        <h1>{{ company_profile.name }}</h1>
                        <p>{{ company_profile.website }}</p>
                    </div>
                </div>


                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('show_seller', {'id': company_profile.getId()}) }}">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>

            </div>
        </div>

        <div class="container">

            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                <div class="list-group" style="margin-top:40px">
                    {% for c in company_profile.companyCategories %}
                        <a href="#" class="list-group-item">{{ c.category.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for p in company_profile.products %}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img width="320" height="150" src="{{ image_helper.generate_one_large_image_url(p.picture) }}" alt="">
                                <div class="caption">
                                    <h4 class="pull-right">{{ p.priceOrigin }} {{ p.priceCurrency }}</h4>
                                    <h4><a href="#">{{ p.title }}</a>
                                    </h4>
                                    <span>{{ p.briefDescription }}</span>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">15 reviews</p>
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- /.row -->
    {% endblock %}

    {% block local_footer_libs %}

    {% endblock %}
