<div id="top_bar" class="navbar navbar-xs yamm navbar-default navbar-fixed-top bar-header" style="background: none repeat scroll 0 0 #113f0f">
    <!--div class="container"-->
    <div id="navbar-collapse-1" class="navbar-collapse collapse">
        <ul class="nav navbar-nav" style="float: right; padding-right: 20px;">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">For Buyer <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('buyer_wish_product_new') }}">Register Favorite Products/Suppliers</a></li>
                    <li><a href="{{path('create_buying_request')}}">Post Buying Request</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('buyer_services') }}#sourcing_services">Products Sourcing Services</a></li>
                    <li><a href="{{ path('buyer_services') }}#inspection_services">Inspection Services</a></li>
                    <li><a href="{{ path('buyer_services') }}#factory_audit">Factory Audit</a></li>
                    <li><a href="{{ path('buyer_services') }}#translation_pickup">Translation and Airport Pickup Services</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">For Seller <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{path('upload_product')}}">Create Product</a></li>
                    <li><a href="{{ path('seller_services') }}#memberships">Memberships</a></li>
                    <li><a href="{{ path('seller_services') }}#free_verification">Free Verification</a></li>
                    <li><a href="#">Import-Export consultancy</a></li>
                    <li><a href="{{ path('seller_services') }}#freight_forwarding_services">Freight forwarding services</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Help <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
            <li><a href="#" style="font-size: 17px;" class="glyphicon glyphicon-info-sign" title="About Aseagle"></a></li>
        </ul>
    </div>
    <!--/div-->
</div>
<div id="lower_bar" class="navbar yamm navbar-default navbar-fixed-top bar-header" style="background: none repeat scroll 0 0 #046100 ">
    <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle collapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{{path('welcome')}}" class="navbar-brand" style="padding-left: 50px;"><img src="{{ asset('bundles/libs/img/logo.png') }}" style="width: 130px; height: 25px"></a>

    </div>
    <div class="navbar-collapse collapse" style="padding-left: 235px;">
        <ul class="nav navbar-nav">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% set cats = category_helper.category_list() %}
                    {% for cat in cats %}
                        {% if loop.index <= 14 %}
                            <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ cat.name|capitalize  }}</a>
                                <ul class="dropdown-menu">
                                    <div class="yamm-content">
                                        <div class="row">
                                            {% for subcat in cat.children() %}
                                                {% if loop.index%10 == 1 %}
                                                    <ul class="col-sm-2 list-unstyled" style="float: none; display: table-cell">
                                                    <li><a href="{{path('main',{'category_id': subcat.id})}}">{{ subcat.name|capitalize }}</a></li>
                                                    <!--
                                                        <li>
                                                            <p>
                                                                <strong>Section Title</strong>
                                                            </p>
                                                        </li>
                                                        -->
                                                {% elseif loop.index%10 == 0 or loop.index == cat.children()|length%}
                                                    <li><a href="{{path('main',{'category_id': subcat.id})}}">{{ subcat.name|capitalize }}</a></li>
                                                    </ul>
                                                {% else%}
                                                    <li><a href="{{path('main',{'category_id': subcat.id})}}">{{ subcat.name|capitalize }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </ul>
                            </li>
                        {% elseif loop.index == 15  %}
                            <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">More Categories</a>
                                <ul class="dropdown-menu">
                                    <div class="yamm-content">
                                        <div class="row">
                                            <ul class="col-sm-2 list-unstyled">
                                                <li>
                                                    <p>
                                                        <strong>{{ cat.name|capitalize }}</strong>
                                                    </p>
                                                </li>
                                                {% for subcat in cat.children() %}
                                                    <li><a href="{{path('main',{'category_id': subcat.id})}}">{{ subcat.name|capitalize }}</a></li>
                                                {% endfor %}
                        {% elseif loop.index == cats|length  %}
                                                <li>
                                                    <p>
                                                        <strong>{{ cat.name|capitalize }}</strong>
                                                    </p>
                                                </li>
                                                {% for subcat in cat.children() %}
                                                    <li><a href="{{path('main',{'category_id': subcat.id})}}">{{ subcat.name|capitalize }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <p>
                                    <strong>{{ cat.name|capitalize }}</strong>
                                </p>
                            </li>
                            {% for subcat in cat.children() %}
                                <li><a href="{{path('main',{'category_id': subcat.id})}}">{{ subcat.name|capitalize }}</a></li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <!-- Grid 12 Menu -->
            <!--
            <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Menu<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="grid-demo">
                        <div class="row" id="aseagle-navbar" style="padding: 30px">

                        </div>
                    </li>
                </ul>
            </li>
            -->
            <li>
                <form class="navbar-form navbar-left" role="search" action="{{path('search')}}">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Product
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Product</a></li>
                                    <li><a href="#">Seller</a></li>
                                    <li><a href="#">Buyer</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                            <div class="input-group-btn">
                                <input type="text" class="form-control" placeholder="Search" name="search_string" id="search_string">
                            </div>
                            <div class="input-group-btn">
                                <button class="btn btn-default search" type="submit">&nbsp<span class="glyphicon glyphicon-search"></span>&nbsp</button>
                            </div>
                        </div>
                    </div>
                </form>
            </li>
            <li><a class="btn-in-a" href="{{path('create_buying_request')}}"><button class="btn btn-success pbr">&nbsp&nbsp&nbsp&nbsp&nbspPost Buying Request&nbsp&nbsp&nbsp&nbsp&nbsp</button></a></li>
        </ul>

        <ul class="nav navbar-nav" style="float: right; {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} padding-right: 20px {% endif %};">
            <li><a href="{{path('buyer_get_buying_request')}}">My Aseagle</a></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{path('message')}}"><span class="glyphicon glyphicon-envelope" title="Message Center"></span></a></li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-user" title="Profile"></span></a>
                    <div style="display: none">
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </div>
                </li>
            {% else %}
                <!--<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> -->
                <li><a href="#" data-toggle="popover" class="btn-login">Login</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Signup</a></li>
            {% endif %}
        </ul>
        <!--
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <ul class="nav navbar-nav lower-my-aseagle" style="padding-left: 10px; display: none">
            <li><a href="{{path('buyer_get_buying_request')}}">My Aseagle</a></li>
        </ul>
        {% endif %}
        -->
    </div>
</div>

<div class="hidden login-form">
    <form action="{{ path("fos_user_security_check") }}" class="form-horizontal" style="width: 200px" method="post">
            <label>Email</label>
            <div>
                <input type="text" name="_username" required="required" />
            </div>
            <label>Password</label>
            <div>
                <input type="password" name="_password" required="required" />
            </div>
            <div>
                <a href="{{ path("fos_user_resetting_request") }}">Forget Password?</a>
            </div>
            <div style="padding-top: 5px;">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        <input type="hidden" name="_csrf_token" value="{{ render(controller('AseagleBundle:Main:getToken'))}}" />
    </form>
</div>
<script>

    (function($){
        $(document).ready(function(){
            $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
                event.preventDefault();
                event.stopPropagation();
                $(this).parent().siblings().removeClass('open');
                $(this).parent().toggleClass('open');
            });

            //Add form to login popover
            $('.btn-login').popover({
                placement: 'bottom',
                html : true,
                content: function() {
                    return $(".login-form").html();
                }
            });
            // Close login popover when clicking outside
            $('body').on('click', function (e) {
                //only buttons
                if ($(e.target).data('toggle') !== 'popover'
                        && $(e.target).parents('.popover.in').length === 0) {
                    $('[data-toggle="popover"]').popover('hide');
                }
            });
        });
    })(jQuery);

    (function($) {
        var ost = 0;
        $(window).scroll(function() {
            var cOst = $(this).scrollTop();

            if(cOst > ost) {
                //$('#top_bar').addClass('top-bar-fixed').removeClass('top-bar-default');
                if($('.lower-my-aseagle').css('display') == 'none'){
                    $('.lower-my-aseagle').show();
                }
                $('#lower_bar').css("zIndex",1039);
                $('#lower_bar').addClass('lower-bar-fixed').removeClass('lower-bar-default');
            }
            else {
                //$('#top_bar').addClass('top-bar-default').removeClass('top-bar-fixed');
                $('.lower-my-aseagle').hide();
                $('#lower_bar').css("zIndex",1037);
                $('#lower_bar').addClass('lower-bar-default').removeClass('lower-bar-fixed');
            }

            ost = cOst;
        });

    })(jQuery);
</script>